<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- maximum-scale=1, user-scalable=no -->
    <title>My School Student Registration</title>

    <link href="/View/Styles/bootstrap.min.css" rel="stylesheet">
    <link href="/View/Styles/normalize.css" rel="stylesheet" />
    <link href="/View/Styles/flexslider.css" rel="stylesheet">
    <link href="/View/Styles/studentStyles.css" rel="stylesheet">
</head>

<body id="top" data-spy="scroll">

    <div class="alignDiv">

        <!--top header-->
        <div id="mainHeader">
            <header>


                <!--main-nav-->
                <div id="main-nav">

                    <nav class="navbar">
                        <div class="container">

                            <div class="navbar-header">
                                <a href="/StudentPage" class="navbar-brand">Demo School</a>
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                                    <span class="sr-only">Toggle</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <div class="navbar-collapse collapse" id="navigation">

                                <ul id="links" class="nav navbar-nav navbar-right">
                                    <li><a id="homeLink" href="#home">Home</a></li>
                                    <li><a id="allLink" href="#allStudents">All Students</a></li>
                                    <li><a id="oneLink" href="#oneStudent">Single Student</a></li>
                                    <li><a id="addLink" href="#addStudent">Add Student</a></li>
                                    <li><a id="editLink" href="#editStudent">Edit Student Info</a></li>
                                    <li><a id="deleteLink" href="#deleteStudent">Delete Student</a></li>
                                    <li><a id="aboutLink" href="#about">About</a></li>
                                </ul>

                            </div>

                        </div>
                    </nav>
                </div>

            </header>
        </div>


        <div id="mainContents">

            <!--HOME-->
            <div id="home">
                <br />
                <!--slider-->
                <div id="slider" class="flexslider">
                    <ul class="slides">
                        <li>
                            <img src="/View/Images/slider/slider1.jpg">
                        </li>
                        <li>
                            <img src="/View/Images/slider/slider2.jpg">
                        </li>
                        <li>
                            <img src="/View/Images/slider/slider3.jpg">
                        </li>
                    </ul>
                </div>
                <br />
                <br />
                <h3 class="centre text-info">
                    We are committed to aspiring towards greater heights and producing the best graduades.<br />
                    'Honesty and integrity' is our mantra.
                </h3>
                <br />
                <br />
                <!--statistics-->
                <div id="about-bg">

                    <div class="container">
                        <div class="row">
                            <div class="about-bg-heading">
                                <h1>statistics about us</h1>
                                <p>what we have achieved so far</p>
                            </div>

                            <div class=" col-xs-12 col-md-3">
                                <div class="about-bg-wrapper">
                                    <h1 class="count">1052</h1>
                                    <p>students</p>
                                </div>
                            </div>

                            <div class="col-xs-12 col-md-3">
                                <div class="about-bg-wrapper">
                                    <h1 class="count">106</h1>
                                    <p>projects</p>
                                </div>
                            </div>

                            <div class="col-xs-12 col-md-3">
                                <div class="about-bg-wrapper">
                                    <h1 class="count">47</h1>
                                    <p>Awards</p>
                                </div>
                            </div>

                            <div class="col-xs-12 col-md-3">
                                <div class="about-bg-wrapper">
                                    <h1 class="count">14175</h1>
                                    <p>alumni</p>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="cover"></div>

                </div>

                <div id="homeContent">
                </div>

            </div>


            <!--ALL STUDENTS-->
            <div id="allStudents" class="topPadding">
                <div class="text-center heading">
                    <h2>
                        ALL STUDENTS<br />
                        <small>(Number of Registered Students in the Database- <span id="allStudentNo"></span>)</small>
                    </h2>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12 text-center">
                        <span id="spanAllStudents"></span>
                    </div>
                </div>
            </div>


            <!--SINGLE STUDENT-->
            <div id="oneStudent" class="topPadding">
                <div class="text-center heading">
                    <h2>SINGLE STUDENT</h2>
                </div>
                <br />
                <br />
                <div class="container">
                    <div class="row">
                        <div class="col-md-9">
                            <label>Matriculation Number (or Unique Id)</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <input id="txtIdOne" type="text" class="form-control" placeholder="Matriculation Number" />
                        </div>
                        <div class="col-md-5 col-md-push-0">
                            <input type="submit" id="btnStudentOne" class="btn btn-primary" value="Submit" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <span id="allStudentsOne"></span>
                        </div>
                    </div>
                </div>

                <br />
                <br />
                <div class="text-center fontMsg"><span id="msgOne"></span></div>
                <br />

                <div id="oneResult" class="container">
                    <div class="row">
                        <div class="col-md-10 col-md-push-1">
                            <table id="oneTable" class="table table-striped table-responsive text-center">
                                <caption class="text-center"><span class="info">Unique Id: <span id="guidOne"></span></span></caption>
                                <tbody>
                                    <tr>
                                        <td colspan="2" class="success">Matriculation Number: <span id="matNoOne"></span></td>
                                    </tr>
                                    <tr>
                                        <td>SurName</td>
                                        <td><span id="lNameOne"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Other Name(s)</td>
                                        <td><span id="othName"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Faculty</td>
                                        <td><span id="facOne"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Department</td>
                                        <td><span id="deptOne"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Level</td>
                                        <td><span id="levelOne"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Date of Birth</td>
                                        <td><span id="dobOne"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Mobile Number</td>
                                        <td><span id="phoneNoOne"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Email Address</td>
                                        <td><span id="emailOne"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Date registered</td>
                                        <td><span id="dRegOne"></span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            <!--ADD STUDENT-->
            <div id="addStudent" class="topPadding">
                <div class="text-center heading">
                    <h2>ADD STUDENT</h2>
                </div>
                <br />
                <br />
                <div class="text-center fontMsg"><span id="msgAdd"></span></div>
                <br />
                <div id="divFormAdd" class="container">
                    <div class="row">
                        <div class="col-md-10 col-md-push-0">
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Surname</label>
                                    <div class="col-md-8">
                                        <input class="form-control" id="lNameAdd" type="text"
                                               placeholder="Enter Surname">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">
                                        First name
                                    </label>
                                    <div class="col-md-8">
                                        <input class="form-control" id="fNameAdd" type="text"
                                               placeholder="Enter First Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">
                                        Middle Name
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" id="mNameAdd" class="form-control"
                                               placeholder="Enter Middle Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">
                                        Faculty
                                    </label>
                                    <div class="col-md-8">
                                        <span id="facAdd"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">
                                        Department
                                    </label>
                                    <div class="col-sm-8">
                                        <span id="deptAdd"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">
                                        Level
                                    </label>
                                    <div class="col-md-8">
                                        <span id="levelAdd"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">
                                        Date of Birth
                                    </label>
                                    <div class="col-md-8">
                                        <div class="row">
                                            <div class="col-md-3 col-md-push-0">
                                                <span id="dobDaySpanAdd"></span>
                                            </div>
                                            <div class="col-md-4 col-md-push-1">
                                                <span id="dobMonthSpanAdd"></span>
                                            </div>
                                            <div class="col-md-3 col-md-push-2">
                                                <span id="dobYearSpanAdd"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">
                                        Mobile Number
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="phoneNoAdd">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">
                                        Email
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="emailAdd">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-2 col-md-push-6">
                                        <br />
                                        <br />
                                        <input id="btnAddSubmit" type="submit" class="btn btn-primary" value="Submit" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div id="divResultAdd" class="container">
                    <div class="row">
                        <div class="col-md-9 col-md-push-1">
                            <div class="top-right largeFont">
                                <button id="addAnother" class="btn btn-info info">Add Another</button>
                            </div>
                            <br />
                            <table id="addTable" class="table table-striped table-responsive text-center">
                                <caption class="text-center">Student Unique Id: <span id="addStdId"></span></caption>
                                <tbody>
                                    <tr>
                                        <td colspan="2" class="success">Matriculation Number: <span id="matNoAddRes"></span></td>
                                    </tr>
                                    <tr>
                                        <td>SurName</td>
                                        <td><span id="lNameAddRes"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Other Name(s)</td>
                                        <td><span id="oNameAddRes"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Faculty</td>
                                        <td><span id="facAddRes"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Department</td>
                                        <td><span id="deptAddRes"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Level</td>
                                        <td><span id="levelAddRes"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Date of Birth</td>
                                        <td><span id="dobAddRes"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Mobile Number</td>
                                        <td><span id="phoneNoAddRes"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Email Address</td>
                                        <td><span id="emailAddRes"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Date registered</td>
                                        <td><span id="dRegAddRes"></span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            <!--EDIT STUDENT INFORMATION-->
            <div id="editStudent" class="topPadding">
                <div class="text-center heading">
                    <h2>EDIT STUDENT INFORMATION</h2>
                </div>
                <br />
                <br />
                <div id="editShow" class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <label>Matriculation Number (or Unique Id)</label>
                            <input id="txtShowStudentEdit" type="text" class="form-control" placeholder="Matriculation Number" />
                            <br />
                            <input id="btnShowStudentEdit" type="submit" class="btn btn-primary" value="Submit" />
                        </div>
                    </div>
                </div>

                <br />
                <div class="text-center fontMsg"><span id="msgEdit"></span></div>
                <br />
                <br />

                <div id="editForm" class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-push-3 left">
                            <table class="table largeFont text-center">
                                <tr class="info">
                                    <td>Unique Id:  </td>
                                    <td><span id="guidEdit"></span></td>
                                </tr>
                                <tr class="warning">
                                    <td>Matriculation number: </td>
                                    <td><span id="matNoEdit"></span></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-md-push-1">
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Last name</label>
                                    <div class="col-md-8">
                                        <input class="form-control" id="sNameEdit" type="text"
                                               placeholder="Enter Last Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">
                                        First name
                                    </label>
                                    <div class="col-md-8">
                                        <input class="form-control" id="fNameEdit" type="text"
                                               placeholder="Enter first name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">
                                        Middle Name
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" id="mNameEdit" class="form-control"
                                               placeholder="Enter Middle Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">
                                        Faculty
                                    </label>
                                    <div class="col-md-8">
                                        <span id="facEdit"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">
                                        Department
                                    </label>
                                    <div class="col-md-8">
                                        <span id="deptEdit"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">
                                        Level
                                    </label>
                                    <div class="col-md-8">
                                        <span id="levelEdit"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">
                                        Date of Birth
                                    </label>
                                    <div class="col-md-8">
                                        <div class="row">
                                            <div class="col-md-3 col-md-push-0">
                                                <span id="dobDaySpanEdit"></span>
                                            </div>
                                            <div class="col-md-4 col-md-push-1">
                                                <span id="dobMonthSpanEdit"></span>
                                            </div>
                                            <div class="col-md-3 col-md-push-2">
                                                <span id="dobYearSpanEdit"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">
                                        Phone Number
                                    </label>
                                    <div class="col-md-8">
                                        <input id="phoneNoEdit" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">
                                        Email
                                    </label>
                                    <div class="col-md-8">
                                        <input id="emailEdit" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2 col-md-push-6">
                                        <input id="btnEditSubmit" type="submit" class="btn btnWarning" value="Modify" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div id="editResult" class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-push-2">
                            <table id="editResTable" class="table table-striped table-responsive text-center">
                                <caption class="text-center"><span class="info">Student Unique Id: <span id="guidEditRes"></span></span></caption>
                                <tbody>
                                    <tr>
                                        <td colspan="2" class="success">Matriculation Number: <span id="matNoEditRes"></span></td>
                                    </tr>
                                    <tr>
                                        <td>SurName</td>
                                        <td><span id="sNameEditRes"></span></td>
                                    </tr>
                                    <tr>
                                        <td>First Name</td>
                                        <td><span id="othNameEditRes"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Faculty</td>
                                        <td><span id="facEditRes"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Department</td>
                                        <td><span id="deptEditRes"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Level</td>
                                        <td><span id="levelEditRes"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Date of Birth</td>
                                        <td><span id="dobEditRes"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Mobile Number</td>
                                        <td><span id="phoneNoEditRes"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Email Address</td>
                                        <td><span id="emailEditRes"></span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            <!--DELETE INFORMATION-->
            <div id="deleteStudent" class="topPadding">
                <div class="text-center heading">
                    <h2>DELETE STUDENT</h2>
                </div>
                <br />
                <br />
                <div id="delShow" class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <label>Matriculation Number (or Unique Id)</label>
                            <input id="txtDelStudent" type="text" class="form-control" placeholder="Matriculation Number" />
                            <br />
                            <input id="btnDelShow" type="submit" class="btn btn-primary" value="Submit" />
                        </div>
                    </div>
                </div>
                <br />
                <div class="text-center fontMsg"><span id="msgDel"></span></div>
                <br />
                <div id="delResult" class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-push-2">
                            <table id="delTable" class="table table-striped table-responsive text-center">
                                <caption class="text-center">
                                    <span id="headerResDel">Deleted Student Details</span>
                                    <span id="headerInfoDel">Student Unique Id: <span id="guidDel"></span></span>
                                </caption>
                                <tbody>
                                    <tr>
                                        <td id="matNoTd" colspan="2">Matriculation Number: <span id="matNoDel"></span></td>
                                    </tr>
                                    <tr>
                                        <td>SurName</td>
                                        <td><span id="sNameDel"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Other Name(s)</td>
                                        <td><span id="othNameDel"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Faculty</td>
                                        <td><span id="facDel"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Department</td>
                                        <td><span id="deptDel"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Level</td>
                                        <td><span id="levelDel"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Date of Birth</td>
                                        <td><span id="dobDel"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Mobile Number</td>
                                        <td><span id="phoneNoDel"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Email Address</td>
                                        <td><span id="emailDel"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Date registered</td>
                                        <td><span id="dRegDel"></span></td>
                                    </tr>
                                </tbody>
                            </table>
                            <br />
                            <div class="row">
                                <div class="col-md-2 col-md-push-5">
                                    <input id="btnDelSubmit" type="submit" value="Delete" class="btn btnWarning" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!--about-->
            <div id="about" class="topPadding">
                <div class="text-center heading">
                    <h2>ABOUT PROJECT</h2>
                    <br />
                </div>
                <br />
                <br />

                <!--about wrapper left-->
                <div class="container">

                    <div class="row">
                        <div class="col-xs-12 hidden-sm col-md-5">

                            <div class="about-left">
                                <img src="/View/Images/about/about1.jpg" alt="" class="fillSpace">
                            </div>

                        </div>

                        <!--about wrapper right-->
                        <div class="col-xs-12 col-md-7">
                            <div class="about-right">

                                <div>
                                    <h3>Assumptions</h3>
                                    <ul class="list">
                                        <li>The system is modelled to capture information of students in a tertiary institution.</li>
                                        <li>
                                            Modification of student details can cause a change in his/her matriculation number, since it depends on
                                            the department (which depends on the faculty) and level of the student.
                                        </li>
                                        <li>The system is to be used for only viewing, addition, modifcation and deletion of student information.</li>
                                        <li>All faculties, departments and years of study are generically modelled.</li>
                                    </ul>
                                </div>

                                <div>
                                    <h3>Limitations</h3>
                                    <ul class="list">
                                        <li>
                                            The data available is limited to only that which is accepted by the system and may not have all
                                            the content that could be found in a regular tertiary institution.
                                        </li>
                                        <li>The system needs javascript enabled by the client/browser to activate its functionality.</li>
                                    </ul>
                                </div>

                                <div>
                                    <h3>Frameworks Used</h3>
                                    <ul class="list">
                                        <li>MongoDb: To store student information, as well as other relevant data.</li>
                                        <li>Express: To act as a server/middleware which transfers content to the client. </li>
                                        <li>JQuery: To perform DOM elements manipulation, make ajax calls to the web server and enhance interactivity of the system.</li>
                                        <li>Node: To handle server side functionality </li>
                                    </ul>
                                </div>

                                <div>
                                    <h3>Appreciation</h3>
                                    <ul class="list">
                                        <li>
                                            Firstly, I would love to appreciate God almighty, for giving me the ability to learn
                                            and apply all the different technologies that were used in this project.
                                        </li>
                                        <li>
                                            I am also very grateful to Andela, as well as Google and Udacity, for enabling me to learn about a very impressive
                                            technology and to understand the basics of its inner workings. It has also given me a greater appreciation
                                            of functional programming.
                                        </li>
                                        <li>
                                            I hope to learn more about these frameworks and others if need be, so as to add value to my environment through
                                            Technology. It has been a great privilege.
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>


        <!--footer-->
        <div id="mainFooter">

            <div id="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="footer-heading">
                                <h3>Footer Information</h3>
                            </div>
                            <div class="text-info">
                                <p>
                                    To explore strange new worlds and to seek out new experiences, boldly going where no man has gone before to acquire knowledge.
                                    It is time to invest in yourself.
                                </p>
                                <p>This is the school for you. We train you to become the best.</p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="footer-heading">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="/View/Images/footer/footer1.jpg" width="200" height="140" alt="" />
                                    </div>
                                    <div class="col-md-6">
                                        <img src="/View/Images/footer/footer2.jpg" width="200" height="140" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!--bottom footer-->
            <div id="bottom-footer" class="hidden-xs">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="footer-left">
                                &copy; TCee. All rights reserved
                                <div class="credits">
                                    <strong>Email Address: </strong>
                                    <a href="mailto:Chineketobenna@gmail.com">Chineketobenna@gmail.com</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-8">
                            <div class="footer-right">
                                <ul class="list-unstyled list-inline pull-right">
                                    <li><a id="homeLinkFooter" href="#home">Home</a></li>
                                    <li><a id="allLinkFooter" href="#allStudents">All Students</a></li>
                                    <li><a id="oneLinkFooter" href="#oneStudent">Single Student</a></li>
                                    <li><a id="addLinkFooter" href="#addStudent">Add Student</a></li>
                                    <li><a id="editLinkFooter" href="#editStudent">Edit Student Info</a></li>
                                    <li><a id="deleteLinkFooter" href="#deleteStudent">Delete Student</a></li>
                                    <li><a id="aboutLinkFooter" href="#about">About</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!-- scripts -->
        <script src="/View/Scripts/CommonScripts/jquery.min.js"></script>
        <script src="/View/Scripts/CommonScripts/bootstrap.min.js"></script>
        <script src="/View/Scripts/CommonScripts/animate.js"></script>
        <script src="/View/Scripts/StudentInfoFunctions/DataAccess/DataApi.js"></script>
        <script src="/View/Scripts/StudentInfoFunctions/DataAccess/CallBackDispatcher.js"></script>
        <script src="/View/Scripts/StudentInfoFunctions/General/GeneralFunctions.js"></script>
        <script src="/View/Scripts/StudentInfoFunctions/General/ControlManipulationFunctions.js"></script>
        <script src="/View/Scripts/StudentInfoFunctions/Sections/HomeFunctions.js"></script>
        <script src="/View/Scripts/StudentInfoFunctions/Sections/AllStudentsFunctions.js"></script>
        <script src="/View/Scripts/StudentInfoFunctions/Sections/OneStudentFunctions.js"></script>
        <script src="/View/Scripts/StudentInfoFunctions/Sections/AddStudentFunctions.js"></script>
        <script src="/View/Scripts/StudentInfoFunctions/Sections/EditStudentFunctions.js"></script>
        <script src="/View/Scripts/StudentInfoFunctions/Sections/DeleteStudentFunctions.js"></script>
        <script src="/View/Scripts/StudentInfoFunctions/Sections/AboutFunctions.js"></script>
        <script src="/View/Scripts/CommonScripts/jquery.flexslider.js"></script>
        <script src="/View/Scripts/CommonScripts/jquery.inview.js"></script>

    </div>

</body>

</html>